/node_modules
/vendor
/.idea
/.vscode
/.vagrant
npm-debug.log
yarn-error.log

/public/assets
/public/hot
/public/storage
.env
Homestead.json
Homestead.yaml
/public/mix-manifest.json
/public/scripts
/public/styles
SCRATCH.md
