<?xml version="1.0"?>
<ruleset name="Sebastiaan Luca coding standard" namespace="sebastiaanluca/php-codesniffer-ruleset">
    <arg name="basepath" value="."/>

    <file>./app</file>
    <file>./config</file>
    <file>./database</file>
    <file>./modules</file>
    <file>./resources</file>
    <file>./tests</file>

    <rule ref="./vendor/sebastiaanluca/php-codesniffer-ruleset/ruleset.xml"/>
</ruleset>

